#miniatures li img {
    height: 100px;
    width: 100px;
}

#miniatures {
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 1px solid black;
}

#conteneur {
    display: flex;
}

#big-picture {
    height: 600px;
    width: 600px;
    border: 1px solid black;
    margin-left: 50px;
}