.visible {
    display: block;
}

.hidden {
    display: none !important;
}

.container{
    width: 200px;
    border: 1px solid black;
    border-radius: 3px;
}

header {
    box-sizing: border-box;
    display: flex;
    justify-content:flex-end;
    border-bottom: 1px solid black;
}

main {
    text-align: center;
}
i:hover{
    cursor: pointer;
}

i {
    margin-right: 10px;
}
