#cont {
    background-color: black;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cont>img {
    height: 300px;
    width: 300px;
    border: 1px solid white;
}