#screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: lightpink;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 300px;
    background-color: lightseagreen;
    border: 3px solid white;
    border-radius: 50px;
}

p {
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

body {
    margin: 0;
}

p span {
    font-weight: bold;
}

.pop {
    position: relative;
}

.popup {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    color: lightseagreen;
    top: -25px;
    left: 0;
    font-size: large;
    font-weight: lighter;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.show {
    display: block;
}