#usersTable {

    border-collapse: collapse;
    width: 100%;
  }
  
  #usersTable td, #usersTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #usersTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #usersTable tr:hover {
      background-color: #ddd;
}

#usersTable td:hover, #usersTable th:hover{
    border: 2px solid #4CAF50;
}
  
  #usersTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  input[type=text], input[type=date] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
  }
  
  button {
    background-color: deepskyblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(5, 157, 207);
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px 15px;
  }

  td button {
      background-color: rgb(255, 79, 47);
  }

  td button:hover {
      background-color: rgb(218, 66, 40);
  }

  header {
    box-sizing: border-box;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
  }

  body {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      padding: 10px;
      width: 1200px;
      border: 1px solid  #4CAF50;
  }

#form {
display: flex;
flex-flow: row wrap;
justify-content: flex-start;
}

#form button {
    margin-left: 60px;
}

input:focus {
    outline: #4CAF50 auto 1px;
}