span {
    opacity: 0;
}

.answer {
    color: red;
    opacity: 1;
    font-weight: bold;
}

body {
    width: 200px;
}

main {
    border: 1px solid black;
    border-radius: 4px;

}

div {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid black;
    background-color: tomato;
}

p {
    padding: 2px;
}