/* #noire {
    background-color: black;
}

#jaune {
    background-color: yellow;
}

#rouge {
    background-color: red;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: blue;
    position: absolute;
    margin: 0;
}

.container div{
    height: 500px;
}

.container {
    position: relative;
    left: -100%;
    width: 300vw;
    height: 100vh;
}

.hidden {
    display: none;
} */


body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#container {
    width: 300%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
}

.page {
    width: 100%;
    height: 100%;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.black {
    background-color: black;
}

#btns {
    position: absolute;
    top: 50%;
    margin: auto;
}

button {
    margin 0 200px;
}