body {
    margin: 0;
    background: white;
}

#screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}

/*-----------------Header-----------------*/

#logo {
    width: 100px;
    height: 100px;
}

header {
    background-color: rgb(100, 100, 100);
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

h1 {
    font-family: 'Chelsea Market', cursive;
}

#WEB_title {
    margin-left: 50px;
    font-size: 50px;
    /* font-family: 'Fredoka One', cursive; */
    color: white;
}

#header {
    flex: 2;
}

#footer {
    flex: 1;
}

header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  header.sticky + #main_container {
    padding-top: 102px;
  }

/*-----------------Main-----------------*/

#main_container {
    display: flex;
    flex: 10;
}

article {
    border: 2px solid black;
    background-color: white;
    margin: 50px 100px;
    padding: 10px;
}

/*-----------------Aside-----------------*/

aside {
    flex: 2;
    background-color: tomato;
}

aside nav ul{
    list-style: none;
}

aside nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside nav ul li {
    font-size: 22px;
    color: white;
}

/*-----------------Section-----------------*/

section {
    flex: 10;
    background-color: lightgreen;
}

/*-----------------Footer-----------------*/