body {
    margin: 0;
}

#screen {
    height: 100vh;
    width: 100vw;
    background-color: #1d3c45;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel {
    width: 720px;
    height: 500px;
    background-color: #fff1e1;
    position: relative;
}

.fas {
    color: #fff1e1;
    font-size: 50px;
}

.fa-chevron-circle-left {
    position: absolute;
    left: -80px;
    top: 50%;
}

.fa-chevron-circle-right {
    position: absolute;
    right: -80px;
    top: 50%;
}

i:hover {
    cursor: pointer;
}

#imgList {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: -120px;
    left: 50px;
    width: 600px;
    background-color: rgb(255, 153, 0);
    padding: 15px 0;
}

#imgList img {
    margin-left: 10px;
    width: 80px;
    height: 80px;
}

#bigPic {
    height: 460px;
    width: 460px;
    position: absolute;
    top: 20px;
    left: 120px;
}

h1 {
    color: #fff1e1;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: -100px;
    left: 50%;
    margin-left: -100px;
}